html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #AABBCC;
    color: #000000;
}

a:visited,
a:link,
a:active {
    text-decoration: underline;
    color: #000000;
    font-weight: bolder;
}

#footer {
    bottom: 0;
    font-size: 14px;
    height: 2%;
    left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    text-align: center;
    width: 100%;
}

h1 {
    color: #333333;
    font-size: 32px;
}

h2 {
    color: #000000;
    font-size: 24px;
}

#content {
    position: static;
    text-align: center;
    font-size: 16px;
    height: 80%;
    width: 100%;
}

.container {
    display: grid;
    background: #005789;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.editable {
    width: 50%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.editable button {
    height: 20px;
    margin-top: 3px;
    vertical-align: middle;
    width: 60px;
}

.editable input[type="text"] {
    height: 14px;
    margin-top: 4px;
    text-align: right;
    vertical-align: middle;
    width: 250px;
}

.editable input[type="text"]:disabled {
    width: 100px;
    text-align: center;
}

.header {
    width: auto;
    height: 40px;
}

.header .title {
    display: block;
    padding-top: 8px;
    font-weight: bold;
    color: #FFFFFF;
}

.label {
    float: left;
    text-align: left;
    width: 50%;
    padding-left: 5px;
    margin-top: 3px;
}

.settings {
    background: #AABBCC;
    display: inline-block;
    width: 100%;
}

.settingsitem {
    display: flex;
    height: 30px;
    width: 100%;
    vertical-align: middle;
}

.switch {
    width: 50%;
    float: right;
    text-align: right;
}

.switch input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}

.shortcut-button {
    padding-right: 86px;
    margin-left: 80px;
    text-align: left;
}

.shortcut-label {
    float: right;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    color: #555555;
    background: #CCCCCC;
    width: 80px;
    border: 2px solid;
    border-radius: 2px;
    vertical-align: middle;
}