/* Define Custom Colors */
:root {
    --color0: #3B4252;
    --color1: #3B4252;
    --color2: #434C5E;
    --color3: #4C566A;
    --color4: #D8DEE9;
    --color5: #E5E9F0;
    --color6: #ECEFF4;
    --color7: #8FBCBB;
    --color8: #88C0D0;
    --color9: #81A1C1;
    --color10: #5E81AC;
    --color11: #BF616A;
    --color12: #D08770;
    --color13: #EBCB8B;
    --color14: #A3BE8C;
    --color15: #B48EAD;
}
/* CSS by Element */
body {
    background: var(--color0);
    color: var(--color9) !important;
    font-size: 12px !important;
}
a {
    color: var(--color7) !important;
    text-decoration: none !important;
}
input, textarea, select {
    background: var(--color0) !important;
    color: var(--color9) !important;
    border-color: var(--color9) !important;
    border: 1px solid !important;
}
label {
    color: var(--color15) !important;
}
legend {
    background: var(--color3) !important;
    color: var(--color9) !important;
    border-color: var(--color9) !important;
}
/* CSS by ID/Class */
.clearfix {
    border: none !important;
}
#customerLogoDiv {
    border: 0 !important;
    height: 0;
}
#customerLogo img {
    visibility: hidden;
    height: 0;
}
#customerLogoDivider {
    border: 0 !important;
    height: 0 !important;
}
#customerName {
    margin-top: -20px !important;
}
#customerStatusDiv {
    margin-top: 20px !important;
}
.dataTable tr, .dataTable td {
    border: 2px solid var(--color9) !important;
    font-size: 13px !important;
}
.first-level {
    background: var(--color3) !important
}
#header {
    margin-top: -10px !important;
    margin-bottom: 20px !important;
}
.iglassForm {
    margin-top: -5px !important;
}
#issLogoDiv {
    background-image: none !important;
    margin-top: 0 !important;
}
#issLogoDiv img {
    visibility: hidden;
}
#loginInner {
    border: 3px solid var(--color3) !important;
}
.mainmenu-div-inner * {
    color: var(--color4) !important;
}
.mainmenu-div-outer, .mainmenu-div-outer-two-col, .mainmenu-div-inner {
    background: var(--color3) !important;
}
.mainmenu-div-outer, .mainmenu-div-outer-two-col {
    border: 2px solid var(--color2) !important;
}
.mainmenu-div-outer a, .mainmenu-div-outer-two-col a, .mainmenu-div-inner a {
    background: var(--color3) !important;
}
#menuBar {
    background: var(--color3) !important;
    background-image: none !important;
    border-radius: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
#menuBar a {
    color: var(--color14) !important;
    background: none !important;
}
#probationMain, #probationEmail, #probationReason {
    background: var(--color3) !important;
    color: var(--color9) !important;
    border-color: var(--color9) !important;
}
#searchButton {
    background: none !important;
    margin-left: 3px !important;
    margin-top: -2px !important;
    border: none !important;
}
#searchHelp {
    margin-top: 5px !important;
}
.ui-button {
    background: var(--color2) !important;
    color: var(--color9) !important;
    border: 0 !important;
}
.ui-button-icon-only {
    border: 2px solid var(--color3) !important;
    padding: 2px !important
}
.ui-corner-all {
    border: 2px solid var(--color0) !important;
}
.ui-state-default {
    background: var(--color0) !important;
    color: var(--color15) !important;
    border: 2px solid var(--color9) !important;
}
.ui-state-highlight {
    background: var(--color4) !important;
    color: var(--color0) !important;
}
.ui-tabs-nav li {
    background: var(--color2) !important;
    border: 0 !important;
}
.ui-widget #interfaceToggle, #cpeToggle, #wirelessToggle, #mocaToggle, #mtaToggle, #billToggle {
    padding-top: 10px;
    padding-left: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    height: 20px;
    font-size: 14px;
    vertical-align: bottom;
    margin-top: 10px !important;
}
.ui-widget #interfaceToggle {
    margin-top: 10px !important;
}
.ui-widget-content {
    background: var(--color3) !important;
    color: var(--color8) !important;
    border: 0 !important;
}
.ui-widget-header {
    background: var(--color2) !important;
    border: 0 !important;
    color: var(--color10) !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
.ui-widget-subgroup {
    background: var(--color0) !important;
    border-color: var(--color9) !important;
}
#upPowerThreshold {
    padding-top: 10px !important;
}
.blue_text {
    color: var(--color9) !important;
}
.green_text {
    color: var(--color14) !important;
}
.yellow_text {
    color: var(--color13) !important;
}
.red_text {
    color: var(--color11) !important;
}
.green_highlight {
    background: var(--color14) !important;
}
.yellow_highlight {
    background: var(--color13) !important;
}
.red_highlight {
    background: var(--color11) !important;
}
/* CSS by Unique Selector */
#content > .ui-helper-clearfix {
    margin-bottom: 10px;
    margin-top: 10px;
}
li[id*="M_menu"] {
    border: 0 !important;
}
#menuBar > .ui-helper-clearfix { /* When we remove the EU logo in the top left, the menubar overlaps the top-right elements */
    margin-top: 10px;
}
p:nth-child(3) > a:nth-child(1) { /* Fixes "Welcome" too close to name */
    padding-left: 5px;
}
p:nth-child(4) { /* Add a newline under Welcome line to even out spacing */
    margin-top: 5px !important;
}
table.dataTable.display tr:nth-child(even), table.dataTable.display tr:nth-child(even) > .sorting_1 {
    background: var(--color2) !important;
    border: 2px solid var(--color9) !important;
}
table.dataTable.display tr:nth-child(odd), table.dataTable.display tr:nth-child(odd) > .sorting_1 {
    background: var(--color0) !important;
    border: 2px solid var(--color9) !important;
}
#expandAll > .ui-button-icon {
    height: 0 !important;
    width: 0 !important;
}
.ui-widget:nth-child(6) > .ui-corner-bottom { /* Fix the awkward gap between upstream/downstream */
    border-bottom-right-radius: 0 !important;
}
.ui-widget:nth-child(6) > .ui-corner-top {
    border-top-right-radius: 0 !important;
}
.ui-widget:nth-child(8) > .ui-corner-bottom { /* Leave a gap before graphs, fix the awkward radius gap between upstream/downstream. */
    margin-bottom: 10px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.ui-widget:nth-child(8) > .ui-corner-top { /* Leave a gap before graphs, fix the awkward radius gap between upstream/downstream. */
    border-top-left-radius: 0 !important;
}
#M_menu-network > .mainmenu-div-outer a, #M_menu-cpe > .mainmenu-div-outer a, #M_menu-DHCT > .mainmenu-div-outer a, #M_menu-DOCSIS > .mainmenu-div-outer a, #M_menu-NodePS > .mainmenu-div-outer a, #M_menu-vod > .mainmenu-div-outer a, #M_menu-reports > .mainmenu-div-outer a {
    color: var(--color4) !important;
}